<nav class="navbar font-[abel]">
            
    <div class="navbar-start"></div>

    <div class="navbar-center p-4">
        <div>
            <div class="text-4.5xl">
                <div class="flex flex-row justify-center">
                    <h1 class="mr-5">L A S S E</h1>
                    <h2>H V I L S T E D</h2>
                </div> 
            </div>
            <div class="flex justify-center">
                <p class="text-xs mr-1 font-style: italic">Soon To Be</p>
                <p class="text-lg">Software Engineer</p>
            </div>
        </div>
    </div>

    <div class="navbar-end mr-4 space-x-2">
            <a href="https://github.com/LasseGH22" target="_blank">
                <img src="assets/Github.svg" alt="Github Icon" class="h-14 w-14 hover:scale-125 transition-transform">
            </a>
            <a href="https://www.linkedin.com/in/lasse-hvilsted-7b4430152/" target="_blank">
                <img src="assets/LinkedIn.svg" alt="" class="h-14 w-14 hover:scale-125 transition-transform">
            </a>
    </div>

</nav>