<div id="contact" class="font-[abel] bg-neutral text-neutral-content flex flex-col justify-center items-center py-4 space-y-2">
  <div class="flex space-x-3 text-xl font-bold
    2xl:text-2xl
  ">
    <p>L E T S</p>
    <p>G E T</p>
    <p>I N</p>
    <p>T O U C H !</p>
  </div>
  <footer class="navbar">
      <div class="navbar-start flex flex-col space-y-3 items-center">
        <h1 class="
          lg:text-lg
          2xl:text-2xl
        ">E M A I L</h1>
        <div class="h-12 flex flex-col justify-center">
          <p class="text-base text-black bg-white rounded-full p-2
            
            2xl:text-2xl
          ">Lassehvilsted&#64;gmail.com</p>
        </div>
      </div>
      <div class="navbar-center flex flex-col space-y-3 items-center">
        <h1 class="
          lg:text-lg
          2xl:text-2xl
        ">G I T H U B</h1>
        <a href="https://github.com/LasseGH22" target="_blank">
          <div class="w-12 h-12 rounded-full bg-white p-1 flex justify-center items-center
            xl:w-14 xl:h-14
            2xl:w-16 2xl:h-16
          ">
            <img src="assets/github-contact.svg" alt="Github" class="w-fit h-fit">
          </div>
        </a>
      </div>
      <div class="navbar-end flex flex-col space-y-3 items-center">
        <h1 class="
          lg:text-lg
          2xl:text-2xl
        ">L I N K E D - I N</h1>
        <a href="https://www.linkedin.com/in/lasse-hvilsted-7b4430152/" target="_blank">
          <div class="w-12 h-12 rounded-full bg-white p-1 flex justify-center items-center
            xl:w-14 xl:h-14
            2xl:w-16 2xl:h-16
          ">
            <img src="assets/linkedin-contact.svg" alt="" class="w-8 h-fit
              2xl:w-10
            ">
          </div>
        </a>
      </div>
  </footer>
</div>
