<div id="contact" class="font-[abel] bg-neutral text-neutral-content flex flex-col justify-center items-center py-2 space-y-2">
  <div class="flex space-x-3 text-xl font-bold
    md:text-xl
    xl:text-2xl xl:space-x-4
  ">
    <p>L E T S</p>
    <p>G E T</p>
    <p>I N</p>
    <p>T O U C H !</p>
  </div>
  <footer class="navbar">
      <div class="navbar-start flex flex-col space-y-3 items-center">
          <h1 class="
            md:text-lg
            xl:text-2xl
            2xl:text-2xl
          ">E M A I L</h1>
          <a href="mailto:lassehvilsted@gmail.com" target="_blank">
            <div class="w-12 h-12 rounded-full bg-white p-1 flex justify-center items-center hover:scale-110 transition-transform
              md:w-14 md:h-14
              xl:w-20 xl:h-20
            ">
              <img src="assets/mail.svg" alt="Github" class="w-8 h-fit
                xl:w-12
              ">
            </div>
          </a>
        
      </div>
      <div class="navbar-center flex flex-col space-y-3 items-center">
        <h1 class="
          md:text-lg
          xl:text-2xl
          2xl:text-2xl
        ">G I T H U B</h1>
        <a href="https://github.com/LasseGH22" target="_blank">
          <div class="w-12 h-12 rounded-full bg-white p-1 flex justify-center items-center hover:scale-110 transition-transform
            md:w-14 md:h-14
            xl:w-20 xl:h-20
          ">
            <img src="assets/github-contact.svg" alt="Github" class="w-fit h-fit">
          </div>
        </a>
      </div>
      <div class="navbar-end flex flex-col space-y-3 items-center">
        <h1 class="
          md:text-lg
          xl:text-2xl
          2xl:text-2xl
        ">L I N K E D - I N</h1>
        <a href="https://www.linkedin.com/in/lasse-hvilsted-7b4430152/" target="_blank">
          <div class="w-12 h-12 rounded-full bg-white p-1 flex justify-center items-center hover:scale-110 transition-transform
            md:w-14 md:h-14
            xl:w-20 xl:h-20
          ">
            <img src="assets/linkedin-contact.svg" alt="" class="w-8 h-fit
              md:w-9
              xl:w-12
            ">
          </div>
        </a>
      </div>
  </footer>
</div>

<style>
  
</style>
