<div class="font-[abel] w-full h-screen flex flex-col justify-start">
    <div class="text-center flex justify-center space-x-4 text-3xl">
        <p>A B O U T</p> 
        <p>M E</p>
    </div>
    <div>
        <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
            <li>
                <div class="timeline-middle"> Tekst </div>
                <div class="timeline-start md:text-end mb-10">
                    <time class="font-mono italic">Nov 2017 - Jun 2022</time>
                    <div class="text-lg font-black">SuperBrugsen</div>

                </div>
                <hr/>
            </li>
            <li>
                <hr />
                <div class="timeline-middle"> Tekst </div>
                <div class="timeline-end mb-10">
                    <time class="font-mono italic">Aug 2018 - Jun 2021</time>
                    <div class="text-lg font-black">Higher Technical Exam</div>

                </div>
                <hr/>
            </li>
        </ul>
    </div>
</div>

