<div id="about" class="font-[abel] w-full h-screen flex flex-col justify-center items-center">
    <div class="text-center flex justify-center space-x-4 text-3xl">
        <p>A B O U T</p> 
        <p>M E</p>
    </div>
    <div>
        <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
            <li>
                <div class="timeline-middle w-16 h-16 bg-[#c31414] flex items-center rounded-full"> <img src="assets/superbrugsen1.png" alt="SuperBrugsen" class="scale-90"> </div>
                <div class="timeline-start md:text-end mb-10">
                    <time class="font-mono italic">Nov 2017 - Jun 2022</time>
                    <div class="text-lg font-black">SuperBrugsen</div>

                </div>
                <hr/>
            </li>
            <li>
                <hr/>
                <div class="timeline-middle w-16 h-16"> <img src="assets/htx.jpeg" alt="" class="rounded-full"></div>
                <div class="timeline-end mb-10">
                    <time class="font-mono italic">Aug 2018 - Jun 2021</time>
                    <div class="text-lg font-black">Higher Technical Exam</div>

                </div>
                <hr/>
            </li>
            <li>
                <hr/>
                <div class="timeline-middle w-16 h-16 flex items-center rounded-full border-2 border-slate-500"> <img src="assets/sdu.png" alt="" class="scale-90"> </div>
                <div class="timeline-start md:text-end mb-10">
                    <time class="font-mono italic">Sep 2022 - Ongoing</time>
                    <div class="text-lg font-black">BEng Software Technology degree</div>

                </div>
            </li>
        </ul>
    </div>
</div>

