<div class="flex flex-col items-center">
    <section class="w-[50%] flex space-x-12 items-center">
        <div class="avatar">
            <div class="w-64 rounded-full border border-black">
                <img src="assets/MigSelv.png" />
            </div>
        </div>
        <div class="">
            <h1 class="font-semibold text-3xl">Hello!</h1>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus tincidunt libero, nec auctor ex sodales sed. Nunc quis lorem elit. In hac habitasse platea dictumst. Duis venenatis mattis sapien, et ultricies urna maximus ut. Aenean a auctor lacus, nec hendrerit purus. Aenean facilisis, nibh eget placerat dapibus, neque diam aliquet massa, at mollis lorem odio id tortor.</p>
        </div>
    </section>
    <div class="divider divider-vertical w-[75%] self-auto"></div>
    <section class="flex">
        <div>
            <p>Explored Technologies</p>
        </div>
        <div>

        </div>
    </section>
</div>
