<body class="bg-base-100 font-[abel]">
    <div>
        <nav class="navbar">
            
            <div class="navbar-start"></div>

            <div class="navbar-center p-4">
                <div>
                    <div class="text-4.5xl">
                        <a href="" class="">
                            <div class="flex flex-row justify-center">
                                <h1 class="mr-5">L A S S E</h1>
                                <h2>H V I L S T E D</h2>
                            </div> 
                        </a>
                    </div>
                    <div class="flex justify-center">
                        <p class="text-xs mr-1 font-style: italic">Soon To Be</p>
                        <p class="text-lg">Software Engineer</p>
                    </div>
                </div>
            </div>

            <div class="navbar-end mr-4 space-x-2">
                    <a href="https://github.com/LasseGH22" target="_blank">
                        <img src="assets/Github.svg" alt="Github Icon" class="h-14 w-14 hover:scale-125 transition-transform">
                    </a>
                    <a href="https://www.linkedin.com/in/lasse-hvilsted-7b4430152/" target="_blank">
                        <img src="assets/LinkedIn.svg" alt="" class="h-14 w-14 hover:scale-125 transition-transform">
                    </a>
            </div>

        </nav>
        <div>
            <div class="text-center">
                <button class="btn btn-ghost text-base">.a b o u t ( )</button>
                <button class="btn btn-ghost text-base">.p r o j e c t s ( )</button>
                <button class="btn btn-ghost text-base">.c o n t a c t ( )</button>
            </div>
        </div>
    </div>
</body>