<body class="font-[abel] bg-base-100 sticky top-0 py-3 z-50 shadow-md">
    <div class="absolute left-12 -top-3">
        <p class="text-6xl font-[sedan]">H</p>
    </div>

     <div class="text-center">
        <button class="btn btn-ghost text-base">.a b o u t ( )</button>
        <button class="btn btn-ghost text-base">.p r o j e c t s ( )</button>
        <button class="btn btn-ghost text-base">.c o n t a c t ( )</button>
    </div>

    <div class="flex mr-4 space-x-2 absolute right-2 top-2">
        <a href="https://github.com/LasseGH22" target="_blank">
            <img src="assets/Github.svg" alt="Github Icon" class="h-14 w-14 hover:scale-125 transition-transform">
        </a>
        <a href="https://www.linkedin.com/in/lasse-hvilsted-7b4430152/" target="_blank">
            <img src="assets/LinkedIn.svg" alt="" class="h-14 w-14 hover:scale-125 transition-transform">
        </a>
    </div>
</body>