<body>
    <nav class="navbar bg-base-100 font-[abel] border-2 border-b-black">
        <div class="navbar-start">
            <div class="p-4 text-3xl">
                <a href="" class="">
                    H V I L S T E D
                </a>
            </div>
        </div>
        <div class="navbar-center join">
            <button class="btn btn-ghost text-lg">.projects()</button>
            <button class="btn btn-ghost text-lg">.about()</button>
            <button class="btn btn-ghost text-lg">.contact()</button>
        </div>
        <div class="navbar-end mr-4">
            <a href="https://github.com/LasseGH22" target="_blank" class="">
                <img src="assets/Github.svg" alt="Github Icon" class="h-14 w-14 hover:h-16 w-16">
            </a>
            <a href="https://www.linkedin.com/in/lasse-hvilsted-7b4430152/" target="_blank" class="">
                <img src="assets/LinkedIn.svg" alt="" class="h-14 w-14 hover:h-16 w-16">
            </a>
        </div>
    </nav>
</body>