<div class="font-[abel] text-center">
    <h1 class="text-center text-4xl">P R O J E C T S</h1>

    <div class="carousel carousel-center max-w-full pt-2 pb-9 px-6">
        @for (project of projects; track $index) {
            <div class="carousel-item flex flex-col mx-[35rem] rounded-lg overflow-hidden shadow-xl shadow-neutral-300 w-full max-w-3xl">
                
                <div class="">
                    @if (project.title === "Asteroids") {
                        <img src="{{ project.imgURL }}" alt="..." class="w-full h-96 object-cover">
                    } @else {
                        <img src="{{ project.imgURL }}" alt="..." class="w-full h-96">
                    }
                    
                </div>
                
                <div class="flex flex-col grow relative bg-neutral-50">
                    <div class="grow pt-1">
                        <h1 class="font-medium text-3xl">{{ project.title }}</h1>
                        <p class="px-5">{{ project.description }}</p>
                    </div>
                    <div class="flex justify-center pt-2 pb-4 space-x-2 items-end">
                        @for (tech of project.technologies; track $index) {
                            <img src="{{ tech.iconURL }}" alt="" class="w-fit h-9">
                        }
                    </div>
                
                    <div class="absolute left-1 top-1 flex space-x-2">
                        @for (referral of project.referrals; track $index) {
                            <a href="{{ referral.redirectURL }}" target="_blank">
                                <img src="{{ referral.imgURL }}" alt="" class="h-8 w-fit">
                            </a>
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>
