<div class="font-[abel] w-full h-fit flex justify-center items-center relative mb-48">
    <div id="projects" class="absolute -top-48"></div>
    <div class="py-4 bg-gradient-to-r from-slate-200 via-white to-slate-200 text-center rounded-2xl shadow-xl h-fit w-[90%] 
        md:w-[85%]
        lg:w-[80%]
    ">
        
        <div class="flex justify-center">
            <h1 class="text-center relative flex justify-center text-3xl
            lg:text-4xl
            2xl:text-5xl
            ">P R O J E C T S
                <span class="flex justify-between absolute w-[175%] top-1
                    lg:top-2
                    2xl:top-3 2xl:w-[200%]
                ">
                    <kbd class="kbd kbd-md
                        2xl:kbd-lg
                    ">◀︎</kbd>
                    <kbd class="kbd kbd-md
                        2xl:kbd-lg
                    ">▶︎</kbd>
                </span>
            </h1>
            
        </div>
    
        <div class="carousel carousel-center max-w-full pt-2 pb-8 px-6 relative">
            @for (project of projects; track $index) {
                <div class="carousel-item flex flex-col mx-[35rem] rounded-lg overflow-hidden shadow-xl bg-neutral-50 shadow-neutral-300 w-full relative max-w-lg 
                    md:max-w-xl
                    lg:max-w-2xl
                    xl:max-w-3xl
                    2xl:max-w-4xl
                    ">
                    <div>
                        @if (project.title === "Asteroids") {
                            <img src="{{ project.imgURL }}" alt="..." class="object-cover w-full h-64 
                                md:h-72
                                lg:h-96
                                xl:h-[28rem]
                                2xl:h-[32rem]
                            ">
                        } @else {
                            <img src="{{ project.imgURL }}" alt="..." class="w-full h-64 
                                md:h-72
                                lg:h-96
                                xl:h-[28rem]
                                2xl:h-[32rem]
                            ">
                        }
                    </div>
                    
                    <div class="flex flex-col grow relative">
                        <div class="grow pt-1">
                            <h1 class="font-bold text-xl">{{ project.title }}</h1>
                            <p class="px-5 text-base">{{ project.description }}</p>
                        </div>
                    
                        <div class="absolute left-2 top-2 flex space-x-2">
                            @for (referral of project.referrals; track $index) {
                                <a href="{{ referral.redirectURL }}" target="_blank">
                                    <img src="{{ referral.imgURL }}" alt="" class="h-6 w-fit hover:scale-125 transition-transform">
                                </a>
                            }
                        </div>
                    </div>
    
                    <div class="py-3 max-w-full">
                        <button class="btn btn-sm text-lg w-[50%] shadow-md bg-slate-50" (click)= "openModal(project.index)">View More</button>
                    </div>
                    
                    <dialog id="modal_{{ project.index }}" class="modal">
                        <div class="modal-box">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>
                            <div class="grid grid-cols-3 gap-4 py-4">
                                <div class="col-span-2">
                                    <p class="">{{ project.longDescription }}</p>
                                </div>
                                <div class="text-start space-y-2">
                                    <div>
                                        <p class="font-semibold">Origin</p>
                                        <p>{{ project.origin.origin }}</p>
                                    </div>
    
                                    @if (project.origin.accomplishment) {
                                        <div>
                                            <p class="font-semibold">Accomplishment</p>
                                            <p>{{ project.origin.accomplishment }}</p>
                                        </div>
                                    }
                                    
                                    @if (project.origin.origin === "University") {
                                        <div>
                                            <p class="font-semibold">Subject</p>
                                            <p>{{ project.origin.subject }}</p>
                                        </div>
                                        
                                        <div>
                                            <p class="font-semibold">Grade</p>
                                            <p>{{ project.origin.grade }}</p>
                                        </div>
                                    }
                                </div>
                            </div>
                            
                            <div>
                                <h1 class="font-style: italic font-semibold">Technologies</h1>
                                <div class="flex justify-center pb-4 pt-2 space-x-2 items-end">
                                    @for (tech of project.technologies; track $index) {
                                        <div class="tooltip tooltip-bottom custom-tooltip" [attr.data-tip]="tech.altText">
                                            <img src="{{ tech.iconURL }}" alt="" class="w-fit h-9 hover:scale-125 transition-transform">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </dialog>
                </div>
            }
        </div>
    </div>
</div>

