<div class="flex flex-col items-center justify-center w-full h-screen font-[abel]">
    <section class="w-[50%] flex space-x-20 items-center">
        <div class="avatar">
            <div class="w-72 rounded-full drop-shadow-2xl">
                <img src="assets/MigCV.JPG" />
            </div>
        </div>
        <div class="space-y-3">
            <div>
                <div class="text-4.5xl">
                    <div class="flex flex-row justify-center">
                        <h1 class="mr-5">L A S S E</h1>
                        <h2>H V I L S T E D</h2>
                    </div> 
                </div>
                <div class="flex justify-center">
                    <p class="text-xs mr-1 font-style: italic">Soon To Be</p>
                    <p class="text-lg">Software Engineer</p>
                </div>
            </div>
            <p class="text-base"><span class="font-bold text-lg">Hello!</span> Im Lasse, currently enrolled as a BEng. Software Engineering student at the University of Southern Denmark, Odense. I started my software journey in high school where i, because of interests, studied a HTX degree specialized in It and Software. This sparked my interest for software further and made me pursue it as my carrier. Throughout my education on software, different projects have had me exploring many different languages, frameworks and tools. Thus making me able to handle frontend and backend.</p>
        </div>
    </section>
    <div class="divider divider-vertical w-[75%] self-auto py-8"></div>
    <section class="flex flex-col items-center justify-center w-[80%] space-y-8">
        <div></div>
        <div class="grid grid-col-3">
            <div class="flex justify-center relative">
                <div class="flex space-x-14 justify-center absolute -top-6">
                    @for (language of languages; track $index) {
                        <div>
                            <img src="{{ language.iconURL }}" alt="{{ language.altText }}" title="{{ language.name }}" class="h-14 w-fit">
                        </div>
                    }
                </div>
            </div>
            
            <div class="flex items-center space-x-6">
                @for (framework of frameworks; track $index) {
                    <div class="w-48 h-48">
                        <img src="{{ framework.iconURL }}" alt="{{ framework.altText }}" title="{{ framework.name }}" class="w-full h-48">
                    </div>
                }
            </div>

            <div class="flex justify-center relative">
                <div class="flex space-x-14 justify-center absolute -top-6">
                    @for (tool of tools; track $index) {
                        <div>
                            <img src="{{ tool.iconURL }}" alt="{{ tool.altText }}" title="{{ tool.name }}" class="h-14 w-fit">
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
