<div id="intro" class="flex flex-col items-center justify-center w-full h-screen font-[abel] mt-4 ">
    
    <section class="w-[80%] flex space-x-12 items-center justify-center
        sm:w-[80%]
        2xl:w-[60%]
    ">
        <div class="w-3/5
            lg:w-1/3
            2xl:h-[90%]
            ">
            <img src="assets/MigCV.png" class="rounded-2xl drop-shadow-2xl"/>
        </div>

        <div class="space-y-3 w-2/3">
            <div>
                <div class="text-2xl flex flex-row justify-center space-x-4 font-bold
                    md:space-x-4
                    lg:text-3xl
                    2xl:text-4.5xl
                ">
                    <h1>L A S S E</h1>
                    <h2>H V I L S T E D</h2>
                </div>
                <div class="flex justify-center">
                    <p class="text-base relative 
                        sm:mt-2
                        lg:text-lg
                    ">
                        Software Engineer
                        <span class="absolute flex font-style: italic -top-1 text-xs -left-[50%]
                            
                            lg:text-sm lg:-left-[50%]
                        ">Soon To Be</span>
                    </p>
                </div>
            </div>
            <p class="text-sm text-justify 
                md:text-sm 
                lg:text-base xl:text-lg
            ">
            <span class="font-bold text-base 
                md:text-base
                ">Hello!
            </span> 
            Im Lasse, currently enrolled as a BEng. Software Technology student at the University of Southern Denmark, Odense. I started my software journey in high school where i, because of interests, studied a HTX degree specialized in It and Software. This sparked my interest for software further and made me pursue it as my carrier. Throughout my education on software, different projects have had me exploring many different languages, frameworks and tools.</p>
        </div>
    </section>
    <div class="divider divider-vertical w-[75%] self-auto pt-10 pb-14"></div>
    <section class="flex flex-col items-center justify-center w-[80%] space-y-8">
        <div class="grid grid-col-3">
            
            <div class="flex justify-center relative">
                <div class="flex space-x-14 justify-center absolute -top-8 lg:-top-6">
                    @for (language of languages; track $index) {
                        <div>
                            <img src="{{ language.iconURL }}" alt="{{ language.altText }}" title="{{ language.name }}" class="w-fit h-10
                                md:h-12 
                                xl:h-14
                            ">
                        </div>
                    }
                </div>
            </div>
            
            <div class="flex items-center space-x-6 flex-wrap justify-center">
                @for (framework of frameworks; track $index) {
                    <div class="w-20 h-20
                        md:w-24 md:h-24
                        lg:w-36 lg:h-36 
                        xl:h-40 xl:w-40 
                        2xl:w-48 2xl:h-48 
                        ">
                        <img src="{{ framework.iconURL }}" alt="{{ framework.altText }}" title="{{ framework.name }}" class="w-20 h-20
                        md:w-24 md:h-24 
                        lg:w-36 lg:h-36 
                        xl:h-40 xl:w-40 
                        2xl:w-full 2xl:h-48
                        ">
                    </div>
                }
            </div>

            <div class="flex justify-center relative">
                <div class="flex space-x-14 justify-center absolute -top-2 lg:-top-4">
                    @for (tool of tools; track $index) {
                        <div>
                            <img src="{{ tool.iconURL }}" alt="{{ tool.altText }}" title="{{ tool.name }}" class="w-fit h-10 
                                md:h-12 
                                xl:h-14
                                ">
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
